[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "vim/bundle/neomru"]
	path = vim/bundle/neomru
	url = https://github.com/Shougo/neomru.vim
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/unite-tag"]
	path = vim/bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag
[submodule "eclim/src"]
	path = eclim/src
	url = https://github.com/ervandew/eclim.git
[submodule "vim/bundle/ycm"]
	path = vim/bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
