[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "vim/bundle/neomru"]
	path = vim/bundle/neomru
	url = https://github.com/Shougo/neomru.vim
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/unite-tag"]
	path = vim/bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "eclim"]
	path = eclim
	url = git://github.com/ervandew/eclim.git
